*,
*::after,
*::before{
  box-sizing: border-box ;
}

/* Модальный (фон) */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: absolute; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  transform: translateX(-50%);
  left: 50%;
  margin-top: 47px;


  
  
  
}

/* Модальное содержание/коробка */
.modal-content {
  background-color: #fefefe;
   /* 15% сверху и по центру */
  padding: 8px;
  border: 1px solid #888;
  /* Может быть больше или меньше, в зависимости от размера экрана */
}

.modal-body{
  color: #2C2B2B;
}

/* Кнопка закрытия */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-footer{
  margin-top: 15px;
  /* display: flex;
  justify-content: space-between; */
}
.modal__footer-link{
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  padding: 7px 27px 7px;
  background-color: #5A0D67;
  text-transform: uppercase;
  color:#fff;
  border: 2px solid transparent;
}

.modal__footer-link:hover{
  background-color: #fff;
  color:#5A0D67;
  margin-top: -7px;
  
  border: 2px solid #5A0D67;
}



body{
  font-family:'Oswald', sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color:#2C2B2B;
  
}
a{
  text-decoration: none;
  color:inherit;
  
}

.container{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header{
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  max-height: 700px;
  color: #fff;
}

.header__top{
  padding: 47px 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone{
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
}

.header__content {
  padding-top: 60px;
  position: relative;
}

.header__title {
  font-size: 72px;
  line-height: 107px;
  text-transform: uppercase;
  font-weight: 400;
  
}
.header__subtitle {
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 400;
}

.header__text {
  margin-bottom: 30px;
  min-width: 800px;
}

.button {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  padding: 14px 54px 15px;
  background-color: #5A0D67;
  text-transform: uppercase;
  transition: all .5s;
}

.button:hover{
  background-color: #fff;
  color:#5A0D67;

}
.header__social {
  padding: 70px 0 20px 70px;
  
  
}
.header__social{
  display: flex;
  align-items: center;
}
.header__social-link {
  margin: 0 5px;
}
.header__social-img {
 
}
.header__images {
   position:absolute;
   right: 0;
   bottom: -200px;

}

.services {
  padding-top: 350px;
}
.container {
}

.title {
  color:#21062A;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 50px;
  position: relative;
}

.title::after{
  content:'';
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: #21062A;
  top: 20px;
  margin-left: 20px;
}

.services__inner {
  display: flex;
  margin-bottom: 100px;

}
.services__content {
  width: 505px;
  margin-right: 96px;
}


.services__content-title {
  color:#5A0D67;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 12px;
}

.services__content-textbox {
  margin-bottom: 57px;
}

.services__content-text {
}

#btnMore{
  padding: 0;
  border: none;
  font: inherit;
  color: #5A0D67;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;

}

.button {
}
 .services__content-text--more{
   display: none;
 }

.button--decor {
  margin-top: -7px;
  color:#fff;
  border: 2px solid #5A0D67;
}
.services__list {
  list-style: none;
  counter-reset: my-counter;

}

.services__item {
  counter-increment: my-counter;
  border: 2px solid #C4C4C4;
  margin-bottom: 12px;
  width: 450px;
  padding: 10px 15px 10px 113px;
  position: relative;
  transition: all .5s;

}
.services__item::before{
  content:'0' counter(my-counter);
  position: absolute;
  left: 20px;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #C4C4C4;
  transform: rotate(-90deg);
  transition: all .5s;
  
}

.services__item:hover{
  border: 2px solid #5A0D67;
  width: 500px;

}
.services__item:hover .services__item-title{
  color:#5A0D67;

}
.services__item:hover::before{
  color:#5A0D67;

}

.services__item-title {
  font-size: 24px;
  font-weight: 300;
}

.benefits {
  margin-bottom: 100px;
}


.benefits__inner {
  display: flex;
  
}

.benefits__images {
  margin-right: 95px;
}

.benefits__content{
  width: 100%;
  color: #fff;
}

.benefits__title {
  margin-left: 185px;
}

.benefits__list {
  list-style: none;
  background-color: #21062A;
  padding: 25px 0 25px 185px;
}
.benefits__item {
  width: 320px;
  margin-bottom: 20px;
}
.benefits__item-num {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
}
.benefits__item-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
}
.benefits__item-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #C4C4C4;
}

.slider {
  margin-bottom: 100px;
}

.slider__inner {
  margin: 0 -7px;
}
.slider__item {
  margin: 0 7px;
}


.slider__item-box {
  border: 1px solid #C4C4C4;
  padding: 6px 6px 16px 6px;
  text-align: center;
  
}
.slider__item-box:hover{
  color: #fff;
  background-color: #5A0D67;
  border-color: #5A0D67;
  transition: all .7s;


}

.slider__item-img {
  max-width: 100%;
  margin-bottom: 23px;
}

.slider__item-title {
  font-weight: 300;
  margin-bottom: 5px;
}

.slider .slick-dots{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  list-style: none;

}

.slider .slick-dots button{
  font-size: 0;
  border:none;
  padding: 0;
  margin: 0 10px;
  background-color:  #C4C4C4;
  width: 50px;
  height: 1px;
}

.slider .slick-active button{
  background-color: #5A0D67;
  height: 3px;

}
.contacts{
  margin-bottom: 30px;
}
.contacts__inner {
  display: flex;
  justify-content: space-between;
}

.contacts__list {
  list-style: none;

}
.contacts__items {
  margin-bottom: 20px;
}
.contacts__item-title {
  color:#5A0D67;
}
.contacts__item-text {
}
.contact__forms {
  background-color:  #21062A ;
  padding: 50px 75px 57px;
  text-align: center;
}
.contacts__title {
  color: #fff;
  margin-bottom: 16px;
  margin-left: 53px;
  text-align: left;
}
.contacts__title::after {
  background-color: #fff;
}
.contacts__input {
  width: 450px;
  height: 75px;
  margin-bottom: 12px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #FFF;
  display: block;
  font-size: 24px;
  padding: 0 15px;
}
.contacts__input::placeholder{
  text-align: center;
  font-weight: 300;
  line-height: 27px;
  color: #C4C4C4;
  font-family:'Oswald', sans-serif;
  font-size: 18px;
}
.contacts__btn {
  border:none;
  margin-top: 78px;
  color: #fff;
  cursor: pointer;
}
.footer{
  background-color: #21062A;
  
}
.footer__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#FFF;
  height: 100px
}
.soicial{
  display: flex;
  align-items: center;

}

.footer__copy{
  color: #FFF;
}